@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-h-initial {
  max-height: var(--initial-vh);
}

.h-initial {
  height: var(--initial-vh);
}

.h-custom {
  height: calc(var(--initial-vh) - 195px);
}

.max-h-custom {
  height: calc(var(--initial-vh) - 100px);
}

/* Customize the scrollbar for Webkit browsers */
.messages::-webkit-scrollbar {
  width: 12px;
}

.messages::-webkit-scrollbar-track {
  background: hsl(237, 100%, 89%); 
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background: hsl(237, 100%, 89%); 
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb:hover {
  background: hsl(237, 100%, 89%); 
}

/* Customize the scrollbar for Firefox */
.messages {
  scrollbar-width: thin;
  scrollbar-color: hsl(237, 100%, 89%) #f1f1f1;
}

.messages:hover {
  scrollbar-width: thin;
  scrollbar-color: hsl(237, 100%, 89%) #f1f1f1;
}

/* Ensure the parent div takes up all the available space */
.canvas-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 170px); /* Adjust based on your header height */
  overflow: hidden;
}

/* Canvas styling to fit the parent */
.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.max-h-canvas {
  max-height: calc(var(--initial-vh) - 150px);
}

