@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-h-initial {
  max-height: var(--initial-vh);
}

.h-initial {
  height: var(--initial-vh);
}

.h-custom {
  height: calc(var(--initial-vh) - 225px);
}
